.container{
    display: flex;
    height: inherit;
}

.links{
    display: flex;
    height: 100%;
    cursor: default;
}

.link-container{
    display: flex;
    flex-direction: row;
}

.link-container:hover .link{
    color: var(--color-font-active);
}

.link{
    text-decoration: none;
    padding: 0 10px 0 10px;
    user-select: none;
    color: var(--color-font-notimportant);
    display: flex;
    align-items: center;
}

.dropdown a{
    color: var(--color-font-notimportant);
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 600;
}

.dropdown a:last-child{
    margin-bottom: 0;
}

.dropdown a:hover{
    color: var(--color-base-accent);
}

.link-container:hover .dropdown-dummy{
    display: flex;
}

.title{
    margin-left: 20px;
    width: 100%;
    height: 100%;
    /*color: #868686;*/
    color: #7b7b7b;
    cursor: default;
    display: flex;
    align-items: center;
}